//Button Modules

.button {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid $primary-color;
  padding: 10px;
  font-family: $roboto;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.42px;
  outline: 0;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.5s ease;
  color: $w;

  @media (min-width: $sm) {
    font-size: 14px;
  }

  @media (min-width: $md) {
    font-size: 16px;
    padding: 10px 25px;
  }

  &--primary {
    &,
    &:hover,
    &:focus {
      color: $w;
      background-color: $primary-color;
    }
  }

  &--outline-primary {
    &,
    &:hover,
    &:focus {
      color: $primary-color;
      background-color: transparent;
      border-color: $primary-color;
    }
  }

  &--outline-blue {
    &,
    &:hover,
    &:focus {
      color: #0398fa;
      padding: 15px 30px;
      border: 1px solid #0398fa;
    }
  }

  &--outline-yellow {
    &,
    &:hover,
    &:focus {
      color: #fdce08;
      padding: 15px 30px;
      border: 1px solid #fdce08;
    }
  }
}
