.sidebar {
  position: fixed;
  right: 0;
  // top: 0;
  bottom: 0;
  background-color: $w;
  padding: 20px 40px;
  width: 100%;
  height: calc(100% - 75px);
  transform: translateX(100%);
  transition: transform 0.5s ease;
  z-index: 9000;

  @media (min-width: $sm) {
    display: none;
  }

  &.show {
    transform: translateX(0%);
  }
}

.sidebar-list {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0;

  &__item {
    display: block;

    .nav-link {
      color: $b0 !important;
    }

    &:hover {
      .nav-link {
        &::after {
          transform: scale(1);
          background-color: $primary-color;
        }
      }
    }
  }
}
