footer.footer
  .container
    .row
      .col-sm-12
        .d-sm-flex.justify-content-between.p-5
          .footer-list-w
            ul.footer-list.mr-5
              li.footer-list__item
                h2.footer-listheading.text-capitalize
                  | recent posts
              li.footer-list__item
                h2.footer-text
                  | hello world
              li.footer-list__item
                h2.footer-text
                  | links
              li.footer-list__item
                h2.footer-text
                  | standard post
              li.footer-list__item
                h2.footer-text
                  | standard post
              li.footer-list__item
                h2.footer-text
                  | standard post

            ul.footer-list.ml-5
              li.footer-list__item
                h2.footer-listheading.text-capitalize
                  | categories
              li.footer-list__item
                h2.footer-text
                  | galleries
              li.footer-list__item
                h2.footer-text
                  | links
              li.footer-list__item
                h2.footer-text
                  | standard post

          .footer-mainactions-w
            h2.footer-heading
              | Zest Fitness Centres

            a(href="javascript:void(0);").footer-actionbtn.mb-2
              span.footer-actionbtn__location hsr layout
              span.footer-actionbtn__sector Sector -7

            a(href="javascript:void(0);").footer-actionbtn.footer-actionbtn--primary.mb-2
              span.footer-actionbtn__location hsr layout
              span.footer-actionbtn__sector Sector -7

      .col-sm-12
        .d-sm-flex.justify-content-sm-between.align-items-center.p-2
          p.footer-text Copyright 2018. Zestfitnesstudio

          ul.footer-navlist
            li
              a(href="javascript:void(0);").footer-text
                | home
            li
              a(href="javascript:void(0);").footer-text
                | classes
            li
              a(href="javascript:void(0);").footer-text
                | trainers
            li
              a(href="javascript:void(0);").footer-text
                | features
            li
              a(href="javascript:void(0);").footer-text
                | contact
