head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:700|Roboto:300,400,400i,500,700|Yantramanav:300', rel='stylesheet')
    link(rel="shortcut icon", href="./img/favicon.png", type="image/x-icon")
    title Zest Fitness
