section.about-section
  .container
    .about-content-w
      .row
        .col-sm-12.mb-3.mb-sm-4
          h4.section-heading
            span.mx-2 about
            | us

        .col-sm-12
          img.about-content-bgimg(src="./img/about-content-bgimg.png" alt="")
          p.section-desc
            | We are very proud to be a non-intimidating gym; with a diverse membership base... from singles, to families, to seniors. We are open 24 X 7 and offer world class, top-of-the-line equipment.
          p.section-desc
            | We realize you have many choices available when it comes to fitness and we’d like to take the time to thank you for allowing us to present some information concerning our business.
          p.section-desc
            | Having been involved in the fitness business for several years, we became increasingly frustrated at the poor standards in our industry. Quite simply we became sick and tired of clubs where sales numbers were more important than member results, and good training programs and qualified instruction were almost impossible to find.

    //- .container-fluid
    .row.mt-4.mt-sm-5
      .col-sm-12.mt-5
        .row
          .col-sm-4
            img.img-fluid.about-gallery-img(src="./img/about-img1.png")
          .col-sm-4
            img.img-fluid.about-gallery-img(src="./img/about-img2.png")
          .col-sm-4
            img.img-fluid.about-gallery-img(src="./img/about-img3.png")
