section.banner.banner--about
  img.banner__bgimg(src="./img/about-bgimg.png" alt="banner")
  .container-fluid.p-0.h-100
    .row.h-100
      .col-sm-12.align-items-center
        .banner-content-w.m-auto
          .banner-content-details
            img.about-banner-bgimg2(src="./img/about-bgimg2.png" alt="banner")
            img.about-banner-bgimg2.athlete(src="./img/about-bannerimg.png" alt="banner")
            p.banner-content-heading FITNESS









