section.studio-section.bg-gradient.text-center
  .container
    .row
      .col-sm-12
        .studio-content
          .studio-top-content
            h2.section-heading.white
              | The
              span.mx-2 Studio

            h4.section-desc.white
              | I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.

            a(href="javascript:void(0);").link.link--small.white.mb-5
              | See video >

          .studio-bottom-content
            h2.section-desc.mb-2.white Opening Hours
            p.section-desc.white MONDAY - FRIDAY | 6:30AM - 7:00PM

