* {
  box-sizing: border-box;
}

body {
  font-family: $roboto;

  &.in-transition {
    transition: transform 900ms ease;
  }
}

main {
  overflow-x: hidden;
}

.bg-gradient {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.43;
    background-color: #fa1363;
    background: linear-gradient(-51deg, #fdcf09 0%, #fa1363 50%, #2182c2 100%);
  }
}

.opacity-50 {
  opacity: 0.5;
}
