aside.sidebar
  ul.sidebar-list
    li.sidebar-list__item
        a.nav-link(href='javascript:void(0);')
          | Home
    li.sidebar-list__item
        a.nav-link(href='about.html') About us
    li.sidebar-list__item
        a.nav-link(href='javascript:void(0);') Products
    li.sidebar-list__item
        a.nav-link(href='contact.html') Contact us
