section.banner.banner--home
  img.banner__bgimg(src="./img/banner-bgimg.png" alt="banner")
  .container-fluid.p-0.h-100
    .row.h-100
      .col-sm-6.align-items-center
        .banner-content-w.m-auto
          .banner-heading-w.mt-sm-5
            h2.banner-heading
              | HARD WORK
          p.banner-desc IS KEY TO SUCCESS OF LIFE

          ul.banneractions-list.mt-5
            li
              a(href="javascript:void(0);").button.button--primary
                | Join Now
            li
              a(href="javascript:void(0);").button.button--outline-primary
                | Know More









