section.class-section
    .container
      .row
        .col-sm-12

          ul.classes-list
            li.classes-list__class
              .class.class--fitness
                h3.class__title
                  | Fitness
                p.class__price
                  | ₹
                  span 3500
                p.class__duration
                  | WEEKS
                p.class__desc.mb-5
                  | Training draws on leading-edge research and best practices from the military, pro sports, and academic institutions coupled.
                a(href="javascript:void(0);").link.white
                  | MORE >
            li.classes-list__class
              .class.class--group
                h3.class__title
                  | Groups Class
                p.class__price
                  | ₹
                  span 5500
                p.class__duration
                  | WEEKS
                p.class__desc.mb-5
                  | Training draws on leading-edge research and best practices from the military, pro sports, and academic institutions coupled.
                a(href="javascript:void(0);").link.white
                  | MORE >
            li.classes-list__class
              .class.class--bootcamp
                h3.class__title
                  | Boot Camp
                p.class__price
                  | ₹
                  span 5500
                p.class__duration
                  | WEEKS
                p.class__desc.mb-5
                  | Training draws on leading-edge research and best practices from the military, pro sports, and academic institutions coupled.
                a(href="javascript:void(0);").link.white
                  | MORE >
            li.classes-list__class
              .class.class--discount
                .discount.text-center
                  p.discount__text
                    | BRING ALL YOUR FRIENDS.
                  h4.discount__text.main
                    | GET 30% DISCOUNT!
                  a.button.button--primary.my-3(href="javascript:void(0);")
                    | Join with us

