section.events-section
  .container-fluid
    .row
      .col-sm-6.p-0
        .events-img-w
          img.img-fluid(src="./img/events-img.png" alt="events")

      .col-sm-6.p-0
        .events-content
          p.section-desc.b9 Be the first! Be the winner!
          h2.section-heading
            | Upcoming
            span.mx-2 Events

          ul.event-list
            li.event-list__event.event-list__event--blue
              .event
                h4.event__date
                  | 16
                p.event__timestamp
                  | Dec, 2018

                h2.event__title
                  | Battle for Middle Ground

                p.event__desc
                  | Two-day workshop and the toughest, but most exciting competition on the US calendar! Online qualifiers start in April after the Open. Athletes compete to qualify for a live final in June.

                a(href="javascript:void(0);").button.button--outline-blue
                  | Register Now
            li.event-list__event.event-list__event--yellow
              .event
                h4.event__date
                  | 23
                p.event__timestamp
                  | Dec, 2018

                h2.event__title
                  | Battle for Middle Ground

                p.event__desc
                  | Two-day workshop and the toughest, but most exciting competition on the US calendar! Online qualifiers start in April after the Open. Athletes compete to qualify for a live final in June.

                a(href="javascript:void(0);").button.button--outline-yellow
                  | Register Now
