section.fitness-section
  .container
    .row

      .col-sm-6.mb-5.mb-sm-0
        img.img-fluid(src="./img/fitness-bgimg.png" alt="fitness")

      .col-sm-6
        h2.section-heading
          | All
          span.mx-2 About
          | Fitness

        h4.section-desc
          | Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummyy text of the printing and typesetting. Simply dummy text of the printing and typesetting industry.

        a(href="javascript:void(0);").button.button--outline-primary.mt-4.mb-5
          | Learn More

        ul.fitness-list
          li
            img.fitness-icon(src="./img/fitness-item-1.png" alt="fitness item")
            p.fitness-icontext Weight Lifting
          li
            img.fitness-icon(src="./img/fitness-item-2.png" alt="fitness item")
            p.fitness-icontext Body Building
          li
            img.fitness-icon(src="./img/fitness-item-3.png" alt="fitness item")
            p.fitness-icontext Cycling
          li
            img.fitness-icon(src="./img/fitness-brand.png" alt="fitness brand")
            p.fitness-icontext trx
