section.offer-section.bg-gradient
  .container
    .row
      .col-sm-12
        .d-flex.justify-content-center
          .offer-content-w
            h2.section-heading.white.fnt.fnt--bold
              | What we offer
            h4.section-desc.white.mb-5
              | Boot camps have its supporters and its detractors. Some people do not understand you should have to spend money on boot camp when you can get

            ul.offerlist
              li.offerlist__offer
                .offer-detail
                  h5.offer-detail__count
                    | 1500
                  p.offer-detail__title
                    | Clients
              li.offerlist__offer
                .offer-detail
                  h5.offer-detail__count
                    | 02
                  p.offer-detail__title
                    | Managers
              li.offerlist__offer
                .offer-detail
                  h5.offer-detail__count
                    | 25
                  p.offer-detail__title
                    | Trainers
