section.testimonial-section
  .container
    .row
      .col-sm-12
        .testimonial-w

          ul.testimonial-slider
            li.testimonial-slider__slide
              .testimony.row
                .col-sm-6
                  .testimony__img-w
                    img.img-fluid(src="./img/testimony.png" alt="testimony")
                .col-sm-6
                  .testimony__content-w
                    blockquote.testimony__quote
                      | Two-day workshop and the toughest, but most exciting competition on the US calendar!  Online qualifiers start...
                    h4.testimony__name Jhone Doe
                    p.testimony__designation CEO & Founder
            li.testimonial-slider__slide
              .testimony
                .testimony__img-w
                  img.img-fluid(src="./img/testimony.png" alt="testimony")
                .testimony__content-w
                  blockquote.testimony__quote
                    | Two-day workshop and the toughest, but most exciting competition on the US calendar!  Online qualifiers start...
                  h4.testimony__name Jhone Doe
                  p.testimony__designation CEO & Founder
